<!DOCTYPE html>
<html>
  <head>
    <title>Songs App</title>
  <!-- add external stylesheets here --> 
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <!-- add external javascript libraries like jQuery and Bootstrap.js here -->
  <script type="text/javascipt" src="/js/scripts.js"></script>
  </head>
  <body>
    <h1>Songify</h1>
    <%= yield %>
  </body>
</html>