<h1>Create New Song</h1>
<form method="POST" action="/songs">
  Title: <br>
  <input type="text" name="song[title]" value="Title"><br>
  Artist: <br>
  <input type="text" name="song[artist]" value="Artist"><br>
  <input type="submit" value="Submit">
</form>